/* You can add global styles to this file, and also import other style files */
/* Application-wide Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
  background-color: #494e6b;
  color:white;
}
body, input[text], button {
  color: #white;
  font-family: Cambria, Georgia;
}
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}/* You can add global styles to this file, and also import other style files */

#title{
  margin-bottom:2em;
  text-align:  center;
  

}
input{
    padding: 8px; 
    border-radius: 5px;
    border: 1px solid #dddddd;
    background-color: #494e6b; 
    color: white; 
    margin:5px;
    
}
button{
    padding: 4px; 
    border-radius: 5px;
    border: 1px solid #dddddd;
    background-color: #494e6b; 
    color: white; 
    margin:5px;
    
}

#app-wrapper{
display:flex;
flex-direction:column;
margin:auto;
max-width:700px;
 
}
a{
  text-decoration: none;
  color:white;
}