<div id=currencies-wrapper>
<div id=currencies-title>Currencies</div>
<div class="currencies">
	<div class="currencies-row">
		<div>NAME</div>
    	<div>SYMBOL</div>
    	<div></div>
    	<div></div>
	</div>
  <div *ngFor="let currency of currencies" class="currencies-row">
  	
    	<div>{{currency.name}}</div>
    	<div>{{currency.symbol}}</div>
    	<div><fa-icon [icon]="faEdit"></fa-icon></div>
    	<div (click)="onDelete(currency)"><fa-icon [icon]="faTrash"></fa-icon></div>
	
  </div>
</div>
</div>
