
#currencies-wrapper{
  border:solid 1px;
  border-radius: 20px;
}

#currencies-title{
  margin-left:2em;
  margin-top:1em;
}

.currencies {
  display:flex;
  flex-direction: column;
  margin: 2em;
  list-style-type: none;
  padding: 10px;
  border:solid 1px;
  border-radius: 20px;
}

.currencies-row:first-child{
  background-color: #6d7993;
}

.currencies-row{
  display:flex;
  justify-content: space-between;
  color:white;
  left: 0;
  background-color: #98878f;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}

.currencies-row div:nth-child(-n + 2){
  flex-basis: 35%;
}

.currencies-row div:nth-last-child(-n + 2){
  flex-basis: 15%;
}

.currencies-row div{
  margin-left:5px;
}

#add-currency{
  display:flex;
  flex-direction:column;
  align-items:flex-end;
  margin-right: 20px;
}

#confirm-add{
  background-color: #4abdac
}

#undo-add{
  background-color: #813772
}

fa-icon{
  padding:20px;
  cursor:pointer;
}

#symbol-input{
  width:60px;
}

#buttons-wrapper{
  display:flex;
  justify-content: flex-end;
}


